#numberModal.main-modal
	.modal-inner
		.modal-body
			a(href="#").close-btn
			.social-login
				.thnks
					p К сожалению мы не смогли определить дату окончания розыгрыша. Вы можете добавить ее самостоятельно
				.fill-form
					.inline-layout.text-center
						.form-group.number.arrow
							select#e(name="repost-date")
								option(value="22", selected)
								option(value="21") 22
								option(value="22") 21
								option(value="23") 23
						.form-group.number.arrow
							select#e(name="repost-date")
								option(value="01", selected)
								option(value="01") 01
								option(value="10") 10
								option(value="20") 20
						.form-group.number.arrow
							select#e(name="repost-date")
								option(value="0", selected)
								option(value="2017") 2017
								option(value="2016") 2016
								option(value="2001") 2001
					.btn-holder
						a(href="#").button2.ch-button выбрать