section.footer
	.container.container-720
		.inline-layout
			.foot-navigation
				ul
					li
						a(href="#").active Главная
					li
						a(href="#") О системе
					li
						a(href="#") Блог
					li
						a(href="#") Архив
				.our-socials
					h4 Мы в соцсетях
					ul.inline-layout
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
						li
							a(href="#")
			.foot-best
				h4 лучшее в блогах
				.inline-layout
					.best-block
						.image-holder
							img.fake-img(src='img/content/best-1.jpg', alt='img/content/best-1.jpg')
							.img(style='background-image: url("img/content/best-1.jpg")')
						.text-holder
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
					.best-block
						.image-holder
							img.fake-img(src='img/content/best-1.jpg', alt='img/content/best-1.jpg')
							.img(style='background-image: url("img/content/best-1.jpg")')
						.text-holder
							p
								|Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
	.foot-line
	.black-plate
