script(src='external/jquery/dist/jquery.min.js')
script(src='external/jquery.browser/dist/jquery.browser.min.js')
script(src='external/bxslider-4/dist/jquery.bxslider.min.js')
script(src='external/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='js/main.js')
