section.header
	.top-line
		.container
			.inline-layout
				.brand-holder
					a(href="")
						.image-holder
							img(src="img/icons/logo.png", alt="")
				.navigation
					ul.inline-layout
						li
							a(href="#") Главная
						li
							a(href="#") О системе
						li
							a(href="#") Блог
						li
							a(href="#") Архив
				.add-event
					a(href="#").button1 ДОбавить розыгрыш
				.login
					a(href="#").button1
						i.fa.fa-user
						|Войти
					span  Или
					ul.inline-layout
						li
							a(href="#")
								i.fa.fa-vk
						li
							a(href="#")
								i.fa.fa-facebook
				.bookmarks
					a(href="#")
						i.fa.fa-star
						span В закладки
				a(href="").acc-box
					img(src="img/icons/account_box.svg", alt="")
			a(href="#").mobile-nav-btn#mobile-nav-btn
				span
				span
				span
			.mobile-nav-holder
				.navigation.mobile
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О системе
						li
							a(href="#") Блог
						li
							a(href="#") Архив
				.add-event.mobile
					a(href="#").button1 ДОбавить розигрыш
				.login.mobile
					a(href="#").button1
						i.fa.fa-user
						|Войти
					span  Или
					ul.inline-layout
						li
							a(href="#")
								i.fa.fa-vk
						li
							a(href="#")
								i.fa.fa-facebook
				.bookmarks.mobile
					a(href="#")
						i.fa.fa-star
						span В закладки
				a(href="").acc-box
					img(src="img/icons/account_box.svg", alt="")
	.mid-line
		.container
			.mid-content
				h1 ВСе розыгрыши из соцсетей в одном месте!
				h2 выбирай, участвуй, получай подарки!
				p.staus Всего розыграшей
					span.label 1755
				.mid-icon
					.image-holder
						img(src="img/icons/s-group.png", alt="")
		.breadcrumbs
			.container
				ul
					li
						a(href="#") &#62; Главная
		
